.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: right;
}

    
.section-title{
    color:#181818;
    text-align:center;
    font-size:35px;
    font-style:normal;
    font-weight:700;
    

}


.section-description{

    color:#757575;
    text-align:center;
    font-family:open sans;
    font-size:18px;
}

.center{
    text-align: right;
}

.pic{ 
    border-image: round;
    width: fit-content 5px;
    height:300px;
   
   
}



.btn{

    background-color: rgb(186, 59, 59);
    border: 30px;
    border-style: none;
    color: aliceblue;
}

.flower{
    vertical-align: top;
    
}
.header{
   background-color: rgba(181, 59, 138, 0.568);
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.about{
    padding: 130px;
    border: radius 10px;
    background: #FFF8F3;
    margin:130px ;
}